version: '3.7'
services:
  postgres:
    image: postgres:15.0
    container_name: addresses-store
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: kiran
      POSTGRES_PASSWORD: kiran
      POSTGRES_DB: postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
      - ./postgres-config:/etc/postgresql
      - ./postgres-log:/var/log/postgresql

  zookeeper:
    image: 'wurstmeister/zookeeper:3.4.6'
    container_name: zookeeper
    restart: always
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'wurstmeister/kafka:3.6.2'
    ports:
      - "9092:9092"
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  mongo:
    image: mongo:7.0.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: kiran
      MONGO_INITDB_ROOT_PASSWORD: kiran
    volumes:
      - ./mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
      - ./mongo-config:/etc/mongo
      - ./mongo-log:/var/log/mongo

  rabbitmq:
    image: rabbitmq:3.9.10-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: kiran
      RABBITMQ_DEFAULT_PASS: kiran
    volumes:
      - ./rabbitmq-data:/var/lib/rabbitmq
      - ./rabbitmq-config:/etc/rabbitmq
      - ./rabbitmq-log:/var/log/rabbitmq